.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  height: 35vh;
  margin: 0 auto;
  margin-top: 1%;
  padding: 5vh 20vh;
  border: 1px grey solid;
  border-radius: 5px;
  box-shadow: 5px 5px 15px grey;
}