.list {
  list-style: none;
  margin: 0 10vw;
  padding: 0;
}
.list__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  padding: 0 20px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px lightgray;
}
.list__item-address {
  font-weight: bold;
}